/*==== 报价页面专用style ====*/
body#baojia{background-color:#455a64;color:#f8f8f8}
.datepicker{color:#333}
body#baojia input::-webkit-outer-spin-button,
body#baojia input::-webkit-inner-spin-button {-webkit-appearance: none}
body#baojia input[type="number"]{-moz-appearance: textfield}

/*==== logo ====*/
body#baojia .logoImg{padding-right:4px}
body#baojia .logoImg img{width:16px}
/*====.footer 页面底部 ====*/
body#baojia .footer{
	padding: 8px;
	text-align: center;
	background: #212121;
	color: #bdbdbd;
	border-top: 1px solid #757575;
}
body#baojia .footer a{color:#777}
body#baojia .footer a:hover{color: #bdbdbd}
/*====.left 页面左部 ====*/
body#baojia .left,body#baojia .table-box,body#baojia .right{min-height:100vh}
body#baojia .left>.form-control,
body#baojia .left .input-group,
body#baojia .left .form-group,
body#baojia .right>.form-control,
body#baojia .right .input-group,
body#baojia .right .form-group,
body#baojia .add_button .btn{margin-bottom:5px}
body#baojia .form-control-feedback{color:#555}
body#baojia .print-A4{margin:0 auto 10px;padding:0px 2vw;max-width:794px;min-height:1123px;border:1px solid #546e7a;}
body#baojia table{width:100%;line-height: 2em}
body#baojia table,body#baojia th,body#baojia td{border:1px solid #546e7a;text-align:center}
body#baojia .tablebg{background-color:#607d8b}